.hero{

    position:relative;

    min-height:100vh;

    display:flex;

    align-items:center;

    background:url("../images/hero.png");

    background-size:cover;

    background-position:center;

}

.overlay{

    position:absolute;

    inset:0;

    background:rgba(0,0,0,.68);

}

.hero-container{

    position:relative;

    z-index:5;

    text-align:center;

    max-width:850px;

}

.hero-label{

    color:var(--accent);

    letter-spacing:4px;

    margin-bottom:22px;

    font-size:14px;

}

.hero h1{

    font-size:78px;

    margin-bottom:25px;

}

.hero-text{

    max-width:650px;

    margin:auto;

    color:var(--muted);

    line-height:1.8;

    font-size:22px;

}

.hero-buttons{

    margin-top:45px;

    display:flex;

    justify-content:center;

    gap:20px;

    flex-wrap:wrap;

}

.primary-button{

    background:var(--accent);

    color:#0D1117;

    padding:18px 34px;

    border-radius:12px;

    font-weight:700;

    transition:var(--transition);

}

.primary-button:hover{

    transform:translateY(-4px);

}

.secondary-button{

    border:1px solid var(--border);

    color:var(--text);

    padding:18px 34px;

    border-radius:12px;

    transition:var(--transition);

}

.secondary-button:hover{

    background:var(--surface);

}

.scroll{

    margin-top:70px;

    color:var(--accent);

    font-size:34px;

    animation:bounce 2s infinite;

}

@keyframes bounce{

    0%,20%,50%,80%,100%{

        transform:translateY(0);

    }

    40%{

        transform:translateY(8px);

    }

    60%{

        transform:translateY(4px);

    }

}