header{

    position:fixed;

    width:100%;

    top:25px;

    z-index:1000;

}

.navbar{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:18px 30px;

    border-radius:18px;

    background:rgba(22,27,34,.75);

    backdrop-filter:blur(16px);

    border:1px solid rgba(255,255,255,.08);

    box-shadow:var(--shadow);

}

.logo{

    color:var(--text);

    font-size:24px;

    font-weight:700;

    transition:var(--transition);

}

.logo:hover{

    color:var(--accent);

}

.nav-links{

    display:flex;

    gap:45px;

    list-style:none;

}

.nav-links a{

    color:var(--muted);

    font-weight:500;

    transition:var(--transition);

}

.nav-links a:hover{

    color:var(--accent);

}

.nav-button{

    padding:14px 24px;

    border-radius:12px;

    background:var(--accent);

    color:#0D1117;

    font-weight:700;

    transition:var(--transition);

}

.nav-button:hover{

    transform:translateY(-3px);

}